anyio==4.13.0
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.3
django-cors-headers==4.9.0
django-jazzmin==3.0.3
djangorestframework==3.16.1
dotenv==0.9.9
et_xmlfile==2.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.1
pillow==12.1.1
python-barcode==0.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-telegram-bot==22.7
reportlab==4.4.10
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
